@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong><br /> <a href="http://educandoweb.com.br]">Educandoweb.com.br</a>    
</address>
